@page
@model MMsWebApp.Views.Cetateni.CreateModel
@{
    ViewData["Title"] = "Create Cetatean";

}

<h1>Create Cetatean</h1>

<h4>Cetatean</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Cetatean.Id" class="control-label"></label>
                <input asp-for="Cetatean.Id" class="form-control" />
                <span asp-validation-for="Cetatean.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cetatean.Nume" class="control-label"></label>
                <input asp-for="Cetatean.Nume" class="form-control" />
                <span asp-validation-for="Cetatean.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cetatean.Prenume" class="control-label"></label>
                <input asp-for="Cetatean.Prenume" class="form-control" />
                <span asp-validation-for="Cetatean.Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cetatean.Email" class="control-label"></label>
                <input asp-for="Cetatean.Email" class="form-control" />
                <span asp-validation-for="Cetatean.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cetatean.CNP" class="control-label"></label>
                <input asp-for="Cetatean.CNP" class="form-control" />
                <span asp-validation-for="Cetatean.CNP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
