@model MMsWebApp.Models.Colectare
@{
    ViewData["Title"] = "Create Colectare";
}

<h1>Create Colectare</h1>

<h4>Colectare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="IdPubela" class="control-label"></label>
                <input asp-for="IdPubela" class="form-control" />
                <span asp-validation-for="IdPubela" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollectedAt" class="control-label"></label>
                <input asp-for="CollectedAt" class="form-control" />
                <span asp-validation-for="CollectedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
